<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MyFirstWeb</display-name>
  <servlet>
    <servlet-name>sample</servlet-name>
    <servlet-class>com.as.samples.Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sample</servlet-name>
    <url-pattern>/sample</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>welcomeServe</display-name>
    <servlet-name>welcomeServe</servlet-name>
    <servlet-class>com.as.samples.welcomeServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>welcomeServe</servlet-name>
    <url-pattern>/welcomeServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Welcome3Servelet</display-name>
    <servlet-name>Welcome3Servelet</servlet-name>
    <servlet-class>com.as.samples.Welcome3Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome3Servelet</servlet-name>
    <url-pattern>/Welcome3Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Contact3Servelet</display-name>
    <servlet-name>Contact3Servelet</servlet-name>
    <servlet-class>com.as.samples.Contact3Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Contact3Servelet</servlet-name>
    <url-pattern>/Contact3Servelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bank3Servelet</display-name>
    <servlet-name>Bank3Servelet</servlet-name>
    <servlet-class>com.as.samples.Bank3Servelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bank3Servelet</servlet-name>
    <url-pattern>/Bank3Servelet</url-pattern>
  </servlet-mapping>
</web-app>